{%extends 'base.html' %}
{%block content%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download do Aplicativo</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Baixe nosso aplicativo!</h1>
        <p>Para aproveitar ao máximo nosso serviço, baixe nosso aplicativo agora.</p>
        <a href="link_para_loja_do_aplicativo" target="_blank">
            <button style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
                Baixar Agora
            </button>
        </a>
    </div>
</body>
</html>



{%endblock%}