{%extends 'base.html' %}
{%block content%} 


<div class="container d-flex justify-content-center align-items-center vh-100">
<div class="card text-center" style="width: 400px;">

    <form method="post">
        {% csrf_token %}
        <h2 class="card-title mt-2 text-dark"> Login </h2>

     <div class="form-group ">
    
    
       
        <label class="font text-dark " for="username">Nome de usuário ou Email</label>
        <div class="container" > 
            <input    class="form-control" type="text" id="username" name="username">
        </div >
        <label  class="text-dark font" for="password">Senha</label>
        <div class="container"   >
            <input class="form-control" type="password" id="password" name="password"  aria-labelledby="passwordHelpBlock">
        </div>
          <!-- Resto do formulário aqui -->
        {%if error_message %}
        <div class="text-danger"> {{error_message}} </div>
        {%endif%}
        </div>
        <button type="submit" class="btn btn-outline-dark">Entrar</button>
       
    </form>

</div>

    {%endblock%}